.slider {
    position: relative;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    border: 2px solid rgba(27, 56, 84, 0.8);
  
    @media only screen and (max-width: 67rem) {
      position: relative;
      width: 70%;
      margin: auto;
      border-radius: 10px;
      border: 2px solid rgba(27, 56, 84, 0.8);
    }
  
    @media only screen and (max-width: 40rem) {
      width: 80%;
    }
  
    .slide--1 {
      @media only screen and (max-width: 67rem) {
        width: 100rem;
        height: 400px;
      }
  
      @media only screen and (max-width: 40rem) {
        height: 300px;
      }
    }
  
    .prevArrow {
      border: none;
      background: none;
      position: absolute;
      left: -6rem;
      top: 12rem;
      cursor: pointer;
  
      @media only screen and (max-width: 67rem) {
        left: -4rem;
        top: 9rem;
      }
  
      @media only screen and (max-width: 40rem) {
        left: -2rem;
        top: 7rem;
        z-index: 99;
      }
  
      img {
        @media only screen and (max-width: 67rem) {
          width: 2.5rem;
          height: 4rem;
        }
        @media only screen and (max-width: 40rem) {
          width: 1rem;
          height: 4rem;
        }
      }
    }
  
    .NextArrow {
      border: none;
      background: none;
      position: absolute;
      right: -7rem;
      top: 12rem;
      cursor: pointer;
  
      @media only screen and (max-width: 67rem) {
        right: -3.8rem;
        top: 9rem;
      }
  
      @media only screen and (max-width: 40rem) {
        right: -2rem;
        top: 7rem;
        z-index: 99;
      }
  
      img {
        @media only screen and (max-width: 67rem) {
          width: 2.5rem;
          height: 4rem;
        }
  
        @media only screen and (max-width: 40rem) {
          width: 1rem;
          height: 4rem;
        }
      }
    }
  
    .carousel-real {
      background: url("../assets/unsplash.svg");
      background-position: center;
      background-size: cover;
      width: 51rem;
      height: 495.57px;
      position: relative;
  
      .overlay {
        background: rgba(0, 0, 0, 0.64);
        background-repeat: no-repeat;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.2;
      }
      .innerContent {
        position: relative;
        padding: 3rem;
        top: 16rem;
        line-height: 1.5;
        z-index: 99;
  
        @media only screen and (max-width: 67rem) {
          padding: 1rem;
          top: 10rem;
          line-height: 1.5;
        }
  
        @media only screen and (max-width: 40rem) {
          top: 9rem;
          padding-left: 1rem;
          line-height: 0.4;
        }
  
        h4 {
          color: rgba(255, 255, 255, 0.44);
          margin-bottom: 0.5rem;
          font-size: 1.2rem;
  
          @media only screen and (max-width: 75rem) {
            font-size: 1.3rem;
          }
  
          @media only screen and (max-width: 67rem) {
            font-size: 1.3rem;
          }
  
          @media only screen and (max-width: 40rem) {
            font-size: 1rem;
            margin-bottom: 0.2rem;
          }
        }
  
        h2 {
          color: #ffffff;
          font-size: 2rem;
          line-height: 45px;
          margin-bottom: 0.5rem;
  
          @media only screen and (max-width: 75rem) {
            font-size: 2rem;
          }
  
          @media only screen and (max-width: 67rem) {
            font-size: 1.6rem;
          }
  
          @media only screen and (max-width: 40rem) {
            font-size: 1rem;
            margin-bottom: 0.1rem;
          }
        }
  
        p {
          color: rgba(255, 255, 255, 0.44);
          margin-bottom: 0.5rem;
          font-size: 1.3rem;
          line-height: 30px;
          font-weight: 400;
          width: 90%;
  
          @media only screen and (max-width: 75rem) {
            color: rgba(255, 255, 255, 0.44);
            margin-bottom: 0.5rem;
            font-size: 1.1rem;
            line-height: 30px;
            font-weight: 400;
            width: 70%;
          }
  
          @media only screen and (max-width: 67rem) {
            margin-bottom: 0.5rem;
            font-size: 1.1rem;
            line-height: 30px;
            font-weight: 400;
            width: 55%;
          }
  
          @media only screen and (max-width: 40rem) {
            margin-bottom: 0.5rem;
            font-size: 0.7rem;
            line-height: 20px;
            font-weight: 200;
            width: 35%;
          }
        }
      }
    }
  }