.Blog {
  margin-top: 5rem;
  text-align: start;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @media only screen and (max-width: 75rem) {
    margin-top: 4rem;
    width: 70%;

    @media only screen and (max-width: 67rem) {
      width: 80%;
      margin-left: 1.5rem;
    }
    @media only screen and (max-width: 40rem) {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
  }

  h1 {
    font-weight: 700;
    font-size: 90px;
    line-height: 100px;
    color: #009bc0;
    margin-bottom: 2rem;

    @media only screen and (max-width: 75rem) {
      font-weight: 500;
      font-size: 4rem;
      line-height: 70px;

      @media only screen and (max-width: 67rem) {
        font-size: 3rem;
      }
    }

    span {
      color: #1b3854;
    }
  }

  .blogs {
    border: 2px solid rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    padding: 2rem;
    margin-bottom: 2rem;

    @media only screen and (max-width: 67rem) {
      padding: 1rem;
    }

    .blog-box {
      h4 {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.035em;
        color: rgba(0, 0, 0, 0.44);
        margin-bottom: 1rem;

        @media only screen and (max-width: 40rem) {
          margin-bottom: 0.4rem;
        }
      }

      h2 {
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        color: #000000;
        margin-bottom: 1rem;

        @media only screen and (max-width: 67rem) {
          font-size: 1.5rem;
        }

        @media only screen and (max-width: 40rem) {
          font-size: 1.2rem;
          margin-bottom: 0.4rem;
        }
      }

      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        color: rgba(0, 0, 0, 0.55);

        @media only screen and (max-width: 75rem) {
          font-size: 18px;
          line-height: 160%;
        }

        @media only screen and (max-width: 67rem) {
          font-size: 1rem;
          line-height: 150%;
        }

        @media only screen and (max-width: 40rem) {
          font-size: 0.9rem;
        }
      }

      .Add__Blog {
        position: absolute;
        right: -12rem;
        bottom: 3rem;
        width: 9rem;
        cursor: pointer;

        @media only screen and (max-width: 75rem) {
          right: -9rem;
          width: 7rem;
        }

        @media only screen and (max-width: 67rem) {
          position: absolute;
          right: -6rem;
          bottom: 3rem;
          width: 6rem;
          cursor: pointer;
        }

        @media only screen and (max-width: 40rem) {
          right: -4rem;
          width: 4rem;
        }
      }
    }
  }
}
