.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 3rem;
  padding-top: 2rem;
}

.mobile-menu-icon {
  display: none;
}

.navbar .nav--links {
  list-style: none;
  display: flex;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
}

.navbar ul .Nav__link {
  margin-right: 2.5em;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
}

.navbar ul .Active__link {
  color: black;
  border-bottom: solid #009bc0;
}

li:hover {
  border-bottom: solid #009bc0;
}

/* The Content-box Styling */

.content__box {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 5rem;
  padding-right: 3rem;
}

.experience {
  font-weight: 700;
  font-size: 4rem;
  line-height: 100px;
  letter-spacing: 0.035em;
  color: #009bc0;
  margin-bottom: 0.4em;
}

.content__box > p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  width: 60%;
  margin: auto;
  line-height: 30px;
  letter-spacing: 0.035em;
  color: rgba(27, 56, 84, 0.8);
}

.Stories__head {
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 64.329px;
  line-height: 146.5%;
  color: #000000;
}

/* ///////////////// carousel section//////////////// */

.slider {
  position: relative;
  width: 60%;
  margin: auto;
  border-radius: 10px;
  border: 2px solid rgba(27, 56, 84, 0.8);
}

.carousel-real {
  background: url("./assets/unsplash.svg");
  background-position: center;
  background-size: cover;
  width: 51rem;
  height: 495.57px;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.64);
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
}

.innerContent {
  position: relative;
  padding: 3rem;
  top: 16rem;
  line-height: 1.5;

  z-index: 99;
}

.innerContent > h4 {
  color: rgba(255, 255, 255, 0.44);
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.innerContent > h2 {
  color: #ffffff;
  font-size: 2rem;
  line-height: 45px;
  margin-bottom: 0.5rem;
}

.innerContent > p {
  color: rgba(255, 255, 255, 0.44);
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  line-height: 30px;
  font-weight: 400;
  width: 90%;
}

/* ///////////////////////////csss carousel//////////////////////////// */
.prevArrow {
  border: none;
  background: none;
  position: absolute;
  left: -6rem;
  top: 12rem;
  cursor: pointer;
}

.NextArrow {
  border: none;
  background: none;
  position: absolute;
  right: -7rem;
  top: 12rem;
  cursor: pointer;
}

/* Footer styling */

.Footer {
  background: #1b3854;
  margin-top: 8rem;
  padding-top: 3rem;
  padding-right: 4rem;
  padding-bottom: 3rem;
  padding-left: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #ffffff;
}
.get-in-touch h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-social {
  display: flex;
}

.footer-social > img {
  margin-right: 1rem;
}

.alluvim--lab > p {
  color: rgba(255, 255, 255, 0.44);
}

.contact .lorem {
  width: 15rem;
}

.contact p {
  color: rgba(255, 255, 255, 0.65);
  margin-top: 0.8rem;
}

.contact h3 {
  font-size: 1.5rem;
}

/* /////////Styling the blog section//////////// */
.Blog {
  margin-top: 5rem;
  text-align: start;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.Blog h1 {
  font-weight: 700;
  font-size: 90px;
  line-height: 100px;
  color: #009bc0;
  margin-bottom: 2rem;
}

.Blog span {
  color: #1b3854;
}

.blogs {
  border: 2px solid rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  padding: 2rem;
  margin-bottom: 2rem;
}

.blogs h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.035em;
  color: rgba(0, 0, 0, 0.44);
  margin-bottom: 1rem;
}

.blogs h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 1rem;
}

.blogs p {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: rgba(0, 0, 0, 0.55);
}

.Add__Blog {
  position: absolute;
  right: -12rem;
  bottom: 3rem;
  width: 9rem;
  cursor: pointer;
}

/* ////////////////RESPONSIVENESS FOR TAB//////////////// */

@media only screen and (max-width: 75rem) {
  .navbar {
    padding-left: 3rem;
    padding-right: 2rem;
  }

  .navbar ul .Nav__link {
    margin-right: 2.5em;
    line-height: 30px;
    font-size: 20px;
  }

  .content__box {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 5rem;
    padding-right: 3rem;
  }

  .experience {
    font-size: 3rem;
  }

  .Stories__head {
    font-size: 50px;
  }

  .content__box > p {
    font-size: 1rem;
    width: 80%;
    margin: auto;
  }

  /* //////////// responsive-carousel////////////////// */

  .innerContent > h4 {
    font-size: 1.3rem;
  }

  .innerContent > h2 {
    font-size: 2rem;
  }

  .innerContent > p {
    color: rgba(255, 255, 255, 0.44);
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    line-height: 30px;
    font-weight: 400;
    width: 70%;
  }

  /* /////////////////blog section styling///////////////// */
  .Blog {
    margin-top: 4rem;
    width: 70%;
  }

  .Blog h1 {
    font-weight: 500;
    font-size: 4rem;
    line-height: 70px;
  }

  .blogs p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.55);
  }

  .Add__Blog {
    position: absolute;
    right: -9rem;
    bottom: 3rem;
    width: 9rem;
    cursor: pointer;
  }
}

@media only screen and (max-width: 67rem) {
  .navbar ul .Nav__link {
    margin-right: 2.5em;
    line-height: 30px;
    font-size: 1.2rem;
  }

  /* //////////////content box//////////////////// */
  .content__box {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 2rem;
  }

  .experience {
    font-size: 2.5rem;
  }

  .Stories__head {
    font-size: 2rem;
  }

  /* /////////////////////carousel slider///////////////////// */

  .slider {
    position: relative;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    border: 2px solid rgba(27, 56, 84, 0.8);
  }

  .slide--1 {
    width: 100rem;
    height: 400px;
  }

  .innerContent {
    position: relative;
    padding: 1rem;
    top: 10rem;
    line-height: 1.5;
  }

  .innerContent > h4 {
    font-size: 1.3rem;
  }

  .innerContent > h2 {
    font-size: 1.6rem;
  }

  .innerContent > p {
    color: rgba(255, 255, 255, 0.44);
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    line-height: 30px;
    font-weight: 400;
    width: 55%;
  }

  .prevArrow {
    left: -6rem;
    top: 9rem;
  }

  .NextArrow {
    right: -6rem;
    top: 9rem;
  }

  /* Footer styling */

  .Footer {
    margin-top: 6rem;
    padding: 1.5rem;
  }
  .get-in-touch h4 {
    font-size: 1.3rem;
  }

  .contact .lorem {
    width: 17rem;
  }

  .contact h3 {
    font-size: 1.3rem;
  }

  /* //////////////////the blog styling////////////////// */

  .Blog {
    margin-top: 4rem;
    width: 80%;
    margin-left: 1.5rem;
  }

  .Blog h1 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 70px;
  }

  .blogs {
    border: 2px solid rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .blogs h2 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 48px;
    color: #000000;
    margin-bottom: 1rem;
  }

  .blogs p {
    font-size: 1rem;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.55);
  }

  .Add__Blog {
    position: absolute;
    right: -6rem;
    bottom: 3rem;
    width: 6rem;
    cursor: pointer;
  }
}

@media only screen and (max-width: 40rem) {
  .navbar {
    display: block;
    padding: 0;
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
  }

  .navbar ul .Nav__link {
    margin-right: 2.5em;
    line-height: 30px;
    font-size: 1.2rem;
    color: #ffffff;
  }

  .navbar img {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    width: 6rem;
    height: 4rem;
  }

  .nav--links-mobile {
    list-style: none;
    display: block;
    font-family: "Times New Roman", Times, serif;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    padding: 2rem;
  }

  .navbar .nav--links {
    display: none;
  }

  .mobile-menu-icon {
    display: flex;
    position: absolute;
    font-size: 30px;
    border: none;
    outline: none;
    top: 1.5rem;
    right: 25px;
    cursor: pointer;
    background: none;
  }

  /* //////////////////content box styling////////////////// */
  .content__box {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 1rem;
  }

  .experience {
    font-size: 1.6rem;
  }

  .content__box > p {
    font-size: 0.8rem;
    width: 100%;
  }

  .Stories__head {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
  }

  /* //////////////////slider styling////////////////// */
  .slider {
    position: relative;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    border: 2px solid rgba(27, 56, 84, 0.8);
  }

  .slide--1 {
    height: 300px;
  }

  .innerContent {
    position: relative;
    top: 9rem;
    padding-left: 1rem;
    line-height: 0.4;
  }

  .innerContent > h4 {
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }

  .innerContent > h2 {
    font-size: 1rem;
    margin-bottom: 0.1rem;
  }

  .innerContent > p {
    color: rgba(255, 255, 255, 0.44);
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
    line-height: 20px;
    font-weight: 200;
    width: 35%;
  }

  .prevArrow {
    left: -2rem;
    top: 7rem;
    z-index: 99;
  }

  .NextArrow {
    right: -2rem;
    top: 7rem;
    z-index: 99;
  }

  .prevArrow img {
    width: 1rem;
    height: 4rem;
  }

  .NextArrow img {
    width: 1rem;
    height: 4rem;
  }
  /* //////////////////blog post styling////////////////// */

  .Blog h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .blogs h2 {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
  }

  .blogs h4 {
    margin-bottom: 0.4rem;
  }

  .blogs p {
    font-size: 0.9rem;
  }

  .Add__Blog {
    right: -4rem;
    width: 4rem;
  }
  /* /////////////// the border styling///////////// */
  .Footer {
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding: none;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 1.5rem;
  }
  .get-in-touch h4 {
    margin-bottom: 0.3rem;
  }

  .footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-social > img {
    margin-right: 1rem;
  }

  .contact .lorem {
    width: 100%;
  }

  .contact p {
    color: rgba(255, 255, 255, 0.65);
    margin-top: 0.4rem;
  }

  .contact h3 {
    font-size: 1.5rem;
  }
}
