.Footer {
  background: #1b3854;
  margin-top: 8rem;
  padding-top: 3rem;
  padding-right: 4rem;
  padding-bottom: 3rem;
  padding-left: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #ffffff;

  @media only screen and (max-width: 67rem) {
    margin-top: 6rem;
    padding: 1.5rem;
  }

  @media only screen and (max-width: 40rem) {
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding: none;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2.5rem;
  }

  .alluvim--lab {
    p {
      color: rgba(255, 255, 255, 0.44);
    }
  }

  .get-in-touch {
    h4 {
      font-size: 1.5rem;
      margin-bottom: 1rem;

      @media only screen and (max-width: 67rem) {
        font-size: 1.3rem;
      }

      @media only screen and (max-width: 40rem) {
        margin-bottom: 0.3rem;
      }
    }

    .footer-social {
      display: flex;

      @media only screen and (max-width: 40rem) {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        margin-right: 1rem;
      }
    }
  }

  .contact {
    h3 {
      font-size: 1.5rem;

      @media only screen and (max-width: 67rem) {
        font-size: 1.3rem;
      }

      @media only screen and (max-width: 40rem) {
        font-size: 1.5rem;
      }
    }
    .lorem {
      width: 20rem;

      @media only screen and (max-width: 67rem) {
        width: 17rem;
      }

      @media only screen and (max-width: 40rem) {
        width: 100%;
      }
    }

    p {
      color: rgba(255, 255, 255, 0.65);
      margin-top: 0.8rem;

      @media only screen and (max-width: 40rem) {
        color: rgba(255, 255, 255, 0.65);
        margin-top: 0.4rem;
      }
    }
  }
}

/* /////////Styling the blog section//////////// */
